.App {
  text-align: center;
  background-image: url('./assets/atmosphere-blue-sky-bright-258149.jpg');
  background-size: contain;
  background-repeat:no-repeat;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

body{
  background: #eee;
}

span{
  font-size:15px;
}

a{
text-decoration:none; 
color: #0062cc;
border-bottom:2px solid #0062cc;
}

.box{
  padding:60px 0px;
}

.box-part{
  background:#FFF;
  border-radius:0;
  padding:60px 10px;
  margin:30px 0px;
  background-size: cover;
  background: #00676d;
}

.card {
  background: #0000;
  border: 0;
}

.text{
  margin:20px 0px;
}

.fa{
   color:#4183D7;
}

.gridcontainer {
  background: #0000002b;  
}

.dailycardcontainer {
  display: inline-grid;
  


  /* grid-gap: 10px; */
  
}

.test {
  display: inline-grid;
  grid-template-columns: 50px 500px
}

.searchbar {
    display: flex;
  }

  

.form-control {
  width: 20%;
  background-color: #0000;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
}

.navbar {
  display:inline-block;
  color: white;
  height: 150px;
  margin-top: 40px;
}

.dailyforecast {
  
}

.dailyforecasttext {
  color: red;
  float: left;
}

.weeklycontainer {
  clear: both;
}

.flexcontainer {
  display: flex;
}

.clear {
  clear: both;
}

nav.nav.nav-tabs {
  margin-left: 20px;
}

a#outertab-tab-daily {
  color: white;
  background: #00676d;
}

a#outertab-tab-Graph {
  color: white;
  background: #00676d;
}

a#outertab-tab-SavedForecasts {
  color: white;
  background: #00676d;
}

.maincontainer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
  "weathermain tabsmain tabsmain tabsmain";
}

.weathermain {
  grid-area: weathermain;
}

.tabsmain {
  grid-area: tabsmain; 
  margin-top: 20px;
}

@media only screen and (max-width: 956px) {
  /* STYLES HERE for BROWSER WINDOWS with a max-width of 480px. 
     This will work on desktops when the window is narrowed.  */
  .form-control {
  width: 100%;
  background-color: #0000;
  }

  .weathermain {
    float: none;
    margin: 0 auto;
  }

  .maincontainer {
    
    grid-template-areas: 
    "weathermain"
    "tabsmain";
  }

  .App {
    background-size: auto;
  }


}

@media only screen and (max-width: 550px) {
  a#outertab-tab-Graph {
    display: none;
  }
}

