.App {
  text-align: center;
}

body{
  background: #eee;
}
span{
  font-size:15px;
}
a{
text-decoration:none; 
color: #0062cc;
border-bottom:2px solid #0062cc;
}
.box{
  padding:60px 0px;
}

.box-part{
  background:#FFF;
  border-radius:0;
  padding:60px 10px;
  margin:30px 0px;
  background: #DD5E89;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #F7BB97, #DD5E89);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #F7BB97, #DD5E89); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: cover;
}

.card {
  background: #0000;
  border: 0;
}
.text{
  margin:20px 0px;
}